@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 58 29% 27%;
    --foreground: 60 9% 98%;
    --card: 58 29% 30%;
    --card-foreground: 60 9% 98%;
    --popover: 58 29% 27%;
    --popover-foreground: 60 9% 98%;
    --primary: 351 100% 46%;
    --primary-foreground: 355 100% 97%;
    --secondary: 58 15% 40%;
    --secondary-foreground: 60 9% 98%;
    --muted: 58 15% 40%;
    --muted-foreground: 60 9% 80%;
    --accent: 93 22% 53%;
    --accent-foreground: 60 9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9% 98%;
    --border: 58 15% 40%;
    --input: 58 15% 40%;
    --ring: 93 22% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 58 29% 27%;
    --sidebar-foreground: 60 9% 98%;
    --sidebar-primary: 351 100% 46%;
    --sidebar-primary-foreground: 355 100% 97%;
    --sidebar-accent: 58 15% 40%;
    --sidebar-accent-foreground: 60 9% 98%;
    --sidebar-border: 58 15% 40%;
    --sidebar-ring: 93 22% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
